<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <div class="container">
      <div class="column">
        <div class="box">
          <div class="title">
            <h1>Welcome Back</h1>
          </div>
          <div class="fields">
            <img src=".../assets/image/company_logo.png" alt="Company Icon">
            <p class="input-heading">Username</p>
            <input type="text" id="username" name="username">
            <p class="input-heading">Password</p>
            <input type="text" id="password" name="password">
              <ul class="options">
                <li class="remember"><input type="checkbox" id="remember" name="rememberme">Remember Me</li>
                <li class="forgot">Forgot Password</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</body>
</html>