  <div class="container">
    <div class="column left">
      <div class="box">
        <div class="title">
          <h1 class="title">Deployment Statuses</h1>
        </div>
        <div class="table statuses">
          <table>
            <tr>
              <th class="Expiring">Expiring</th>
            </tr>
            <tr>
              <td>1</td>
            </tr>
          </table>
          <table>
            <tr>
              <th class="Running">Running</th>
            </tr>
            <tr>
              <td>2</td>
            </tr>
          </table>
          <table>
            <tr>
              <th class="Complete">Complete</th>
            </tr>
            <tr>
              <td>3</td>
            </tr>
          </table>
          <table>
            <tr>
              <th class="Error">Error</th>
            </tr>
            <tr>
              <td>4</td>
            </tr>
          </table>
        </div>  
      </div>
      <div class="box">
        <div class="title">
          <h1 class="title">Active Deployment Summary</h1>
        </div>
        <div class="table">
          <table>
            <tr>
              <th class="tn">Target Name</th>
              <th class="st">Status</th>
              <th class="rt">Running Time</th>
              <th>Stats</th>
              <th>Settings</th>
            </tr>
            <tr>
              <td>Left Corridor</td>
              <td>Active</td>
              <td>20:10:03</td>
              <td>
                <img src="HTML Testing/svg/analytics.svg" alt="Analytics Icon">
              </td>
              <td>
                <img src="HTML Testing/svg/settings.svg" alt="Settings Icon">
              </td>
            </tr>
          </table>
        </div>  
      </div>
    </div>
    <div class="column right">
      <div class="box">
        <div class="title">
          <h1 class="title">Profile</h1>
        </div>
        <div class="profile">
          <ul>
            <li>
              Forename: John
            </li>
            <li>
              Surname: John
            </li>
            <li>
              Title: Snr Nurse
            </li>
            <li>
              Role: Administrator
            </li>
          </ul>
          <img src="HTML Testing/image/profile_image_default.png" alt="Profile Icon">
        </div>
      </div>
      <div class="box">
        <div class="title">
          <h1>System Usage</h1>
      </div>
         <div class="graph">
          <img src="HTML Testing/image/line_chart.png" alt="Profile Icon">
        </div>
    </div>
  </div>
</div>
